body {
    font-family: Arial, sans-serif;
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1  {
    background: #833AB4;
    background: linear-gradient(269deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    padding: 25px;
    margin: 20px;
    width: 1400px;
    height: 60;
}


.film-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.film {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.film img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.film h2 {
    color: white;
    margin-top: 10px;
}

.film p {
    font-size: 14px;
    color: whitesmoke;
}


.film img:hover {
    transform: scale(1.1);
}
