body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, color 0.5s;
    background: linear-gradient(to bottom, #00d4f5, #ffff00, orange);;
}

header{
    text-align: left;
}


h1  {
    background: #833AB4;
    background: linear-gradient(269deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: black;
    padding: 25px;
    margin: 20px;
    width: 1400px;
    height: 60;
}


.film-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.film {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.film img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.film h2 {
    color: white;
    margin-top: 10px;
}

.film p {
    font-size: 14px;
    color: whitesmoke;
}


.film img:hover {
    transform: scale(1.1);
}

.toggle-btn {
    font-size: 26px;
    cursor: pointer;
    gap: 20px;
    justify-content: center;
}

body.dark {
    background: linear-gradient(to bottom, #000428, #004e92);
}


i {
  font-size: 30px;
  color: whitesmoke;
  cursor: pointer;
  transition: transform 0.3s;
}

.ora {
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}



@media (max-width: 768px) {
    .film-container {
        flex-direction: column;
        align-items: center;
    }
}

